@font-face {
    font-family: "irSans";
    src: url( "content/fonts/farsi/IRANSansWeb(FaNum)_Bold.ttf" );
    src: local( "?" ), url( "content/fonts/farsi/IRANSansWeb(FaNum)_Bold.ttf" )format( "truetype" );
}
body{
    font-family: "irSans";
}
.val-span {
    padding-left: 10px;
}
