/* * {box-sizing: border-box;} */
body{
    background-color: #FFFFFF;
}
.img-magnifier-container {
    position:relative;
}

.img-magnifier-glass {
    /* position: absolute;*/
    /* border: 3px solid #000; */
    /* border-radius: 50%; */
    cursor: none;
    box-shadow: 2px 2px rgb(253, 253, 253);
    float: left;
    margin: 2px;
    /*Set the size of the magnifier glass:*/
    width: 150px;
    height: 110px;
}